name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  typos:
    name: Check typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1

  build:
    name: Build and test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      # We need it to install exactly the version of Rust specified in rust-toolchain
      # otherwise custom components (like rustfmt) will be installed in wrong toolchain
      - name: Read toolchain file
        id: rust-toolchain
        # need to specify shell, because on Windows it's cmd by default
        shell: bash
        run: |
          echo "RUST_TOOLCHAIN=$(cat rust-toolchain)" >> $GITHUB_OUTPUT

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{ steps.rust-toolchain.outputs.RUST_TOOLCHAIN }}

      - name: Install system packages
        if: runner.os == 'Linux'
        run: sudo apt-get install libglib2.0-dev libsecret-1-dev

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo

      - name: Cache target
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Check
        run: cargo check --all-targets

      - name: Run tests
        run: cargo test

      - name: Check formatting
        run: cargo fmt --check
