name: Update Homebrew formula

on:
  release:
    types: [published]

jobs:
  update-formula:
    name: Update Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew formula
        uses: dawidd6/action-homebrew-bump-formula@v7
        with:
          # Required, custom GitHub access token with the 'public_repo' and 'workflow' scopes
          token: ${{secrets.HOMEBREW_TAP_PAT}}
          tap: bazhenov/tap
          formula: jcp-cli
